<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/css/reset.css" type="text/css">
    <link rel="stylesheet" href="/css/base.css" type="text/css">
    <title></title>
</head>

<body>
    <header>
        <h1>New</h1>
    </header>
    <main>
        <form action="/searches/new" method="POST">
            <fieldset>
                <h2>Book Search</h2>
                <label for="search">Search</label> <input type="text" name="search">

                <input type="radio" id="title" name="search-type" value="title">
                <label for="title">Title</label><br>
                <input type="radio" id="author" name="search-type" value="author">
                <label for="author">Author</label><br>
                <input type="submit">
            </fieldset>
        </form>
    </main>




</body>

</html>