<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Searched Books</title>
</head>
<body>
    <h1>Search Results</h1>
    <ul>
        <% bookSearchArray.forEach(book =>{ %>
            <li>
                <h2><%=book.title%> </h2>
                <h2><%=book.authors%></h2>
                <img src="<%=book.imageUrl%>" alt="book cover">
                <p><%=book.description%></p>
            </li>
            
        <%})%>
        
    </ul>
</body>
</html>